*{
	primary-color:#195469;
	primary-text-color:#ffffff;
	primary-hover-color:#064F63;
	primary-hover-text-color:#ffffff;
	secondary-color:#ffffff;
	secondary-text-color:#000000;
	secondary-hover-color:#c3c3c3;
	secondary-hover-text-color:#000000;
	accent-color:#3EF8F8;
	accent-text-color:#195469;
	accent-hover-color:#3EDADE;
	accent-hover-text-color:#195469;
	error-color:#be0010;
	warning-color:#fff200;
	
}



.label{
	-fx-font-size:12px;
}













.center-align{
	-fx-alignment:center;
}

.center-left-align{
	-fx-alignment:center-left;
}

.right-center-align{
	-fx-alignment:right-center;
}

.small-wrapper{
	-fx-padding:5px;
	-fx-spacing:5px;
}

.medium-wrapper{
	-fx-padding:10px;
	-fx-spacing:10px;
}

.large-wrapper{
	-fx-padding:20px;
	-fx-spacing:20px;
}

.error-message{
    -fx-text-fill:error-color;
}

.node-on-primary{
    -fx-text-fill:primary-text-color;
    -fx-fill:primary-text-color;
}











.login-window{
	-fx-pref-width:600px;
	-fx-pref-height:350px;
	-fx-background-color:primary-color;
}

.login-window-icon-display{
	-fx-pref-width:300px;
	-fx-alignment:center;
	-fx-spacing:50px;
}

.login-window-icon-display SVGPath{
	-fx-fill:primary-text-color;
	-fx-scale-x:3;
	-fx-scale-y:3;
}

.login-window-icon-display .label{
	-fx-font-size:18px;
	-fx-text-fill:primary-text-color;
}

.login-form{
	-fx-alignment:center;
	-fx-padding:30px 30px;
	-fx-spacing:20px;
}
.login-form-message{
    -fx-text-fill:accent-color;
}

.login-form-title{
	-fx-font-size:20px;
	-fx-text-fill:primary-text-color;
}

.login-form .text-field{
	-fx-background-color:transparent;
	-fx-border-color:primary-text-color;
	-fx-text-fill:primary-text-color;
}

.login-form .text-field:focused{
	-fx-border-color:accent-color;
}

.form-input-group{
	-fx-spacing:5px;
}

.form-input-group .label{
    -fx-text-fill:primary-text-color;
}

.login-button-wrapper{
	-fx-spacing:20px;
	-fx-padding:5px;
}

.login-button{
	-fx-pref-width:50px;
	-fx-pref-height:50px;
	-fx-background-color:transparent;
	-fx-background-radius:25px;
	-fx-border-color:accent-color;
	-fx-border-radius:25px;
	-fx-alignment:center;
}


.login-button SVGPath{
	-fx-fill:accent-color;
	-fx-scale-x:1;
	-fx-scale-y:1;
}

.login-button:hover,
.login-button:hover SVGPath{
	-fx-background-color:accent-color;
	-fx-fill:accent-hover-text-color
}


.navigation{
    -fx-background-color:primary-color;
}

.navigation-icon-box{
    -fx-pref-width:80px;
    -fx-pref-height:50px;
    -fx-alignment:center;
    -fx-padding:5px 0px;
    -fx-background-color:primary-color;
}

.navigation-icon-box SVGPath,
.navigation-icon-box .label{
    -fx-fill:primary-text-color;
    -fx-text-fill:primary-text-color;
}

.navigation-icon-box:hover{
    -fx-background-color:accent-color;
}

.navigation-icon-box:hover SVGPath,
.navigation-icon-box:hover .label{
    -fx-fill:accent-text-color;
    -fx-text-fill:black;
}



.contact_view{
    -fx-background-color:secondary-color;
}



















